body, html {
    background: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

body {
    width: 440px;
    margin: 2em auto;
}

p {
    text-align: right;
    font-size: 110%;
}

#frame {
    position: relative;
    height: 320px;
    background: green url(img/grass.jpg) repeat 0 0;
    margin: 2em auto;
    overflow: hidden;
}

#shade {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 255, 0.4);
}

#list {
    float:left;
    text-align: left;
    font-weight: lighter;
    font-size: 90%;
    color: #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
}

#list ul li {
}

#kesi {
    background-image: url("img/kesi.png");
}

#sebas {
    background-image: url("img/sebas.png");
}

#kesi, #sebas {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -32px;
}

.sprite0 {
    background-position: 0 0;
}

.sprite1, .sprite3 {
    background-position: -32px 0;
}

.sprite2 {
    background-position: -64px 0;
}

.updated {
    font-weight: bold;
    color: yellow;
}
